<%- include('../layouts/header.ejs') %>
<style>
	input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 17px;
    height: 17px;
    border: 1px solid #eea287;
    border-radius: 60%;
    outline: none;
    cursor: pointer;
  }

  /* Style the checked radio button */
  input[type="radio"]:checked {
    background-color: #f9f9f9;
    border: 1px solid #eea287;
  }

  /* Add a custom "dot" to the checked radio button */
  input[type="radio"]:checked::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #eea287;
    border-radius: 60%;
    margin: 4.65px;
  }
</style>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                        
                        <a class="logo" style="cursor: pointer;">
                            <h3 style="margin-top: auto; margin-bottom: auto;">TUNGSTEN</h3>
                        </a>
                    </div>
                    <div class="header-center mx-auto">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a style="cursor: pointer;">Home</a>

                                </li>
                                <li>
                                    <a href="/shop">Shop</a>

                                </li>
                                <!-- <li>
                                    <a href="/category">Category</a>

                                </li> -->
                                <li>
                                    <a href="/about" >About Us</a>

                                </li>
                                <li>
                                    <a href="/contact" >Contact Us</a>

                                </li>
                                <li>
                                    <a href="/blog" >Blog</a>

                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->

                        <a href="/wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                            <span class="wishlist-count">3</span>
                        </a>

                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" >
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count"><%= products.length %></span>
                            </a>
    
                            <!-- dropdown -->
    
                        </div><!-- End .cart-dropdown -->
                        <div class="dropdown cart-dropdown">
                            <a href="/userDashboard" class="dropdown-toggle" >
                                <i class="fa-regular fa-user" style="font-size: x-large;"></i>
                            </a>
                            <p class="ml-2" id="profile"><b><% if(name) { %>
                                <%= name %>
                            <% }else { %> 
                                Login
                            <% } %>
                            </b></p>
                            <!-- dropdown -->
    
                        </div>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item"><a href="/cart">Cart</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			<div class="checkout-discount">
            				<form action="#">
        						<input type="text" class="form-control" required id="checkout-discount-input">
            					<label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
            				</form>
            			</div><!-- End .checkout-discount -->
            			<form id="form" action="/placeOrder" method="POST">
		                	<div class="row">
		                		<div class="col-lg-9">
		                			<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
									
									<% if(products.length>0) { %>
										<% if(addresses.length > 0) { %>
											<div class="row">
												<% addresses.forEach((address, index) => { %>
												<div class="col-lg-6">
													<% if(index==0){ %>
														<div class="card card-dashboard address-card" style="border-radius: 20px; border: 3px solid #000000;" data-index="<%= index %>">
													<%}else{%>
														<div class="card card-dashboard address-card" style="border-radius: 20px; border: 1px solid #9f9f9f;" data-index="<%= index %>">
													<%}%>
														<div class="card-body">
															<% if(index == 0) { %>
															<h3 class="card-title">
																<input class="styled-radio" type="radio" checked id="address_select<%= index %>" name="selected_address" value="<%= address.id %>" required> <%= address.address_type %>
															</h3>
															<% } else { %>
															<h3 class="card-title">
																<input class="styled-radio" type="radio" id="address_select<%= index %>" name="selected_address" value="<%= address.id %>" required> <%= address.address_type %>
															</h3>
															<% } %>
															<p>
																<%= address.first_name %> <%= address.last_name %><br>
																<%= address.country %> <br>
																<%= address.street_name %> <br>
																<%= address.town %> <%= address.state %> <br>
																<%= address.postcode %> <%= address.phone_number %> <br>
																<%= address.email %>
															</p>
															<a href="#">Edit <i class="icon-edit"></i></a>
														</div><!-- End .card-body -->
													</div><!-- End .card-dashboard -->
												</div><!-- End .col-lg-6 -->
												<% }) %>
											</div>
											<a href="/userDashboard?re=1" class="btn btn-outline-primary-2" id="addAddress" style="border-radius: 10px; cursor: pointer;"><span>Add address</span><i class="icon-long-arrow-right"></i></a>
											<% } else { %>
											<p class="text-danger">Add an address</p><br>
											<a href="/userDashboard?re=1" class="btn btn-outline-primary-2" id="addAddress" style="border-radius: 10px; cursor: pointer;"><span>Add address</span><i class="icon-long-arrow-right"></i></a>
											<% } %>
											
											<style>
												.styled-radio {
													width: 0.8em;
													height: 0.8em;
													accent-color: black;
												}
											</style>
											
											<script>
												document.addEventListener('DOMContentLoaded', function() {
													const addressCards = document.querySelectorAll('.address-card');
											
													addressCards.forEach(card => {
														card.addEventListener('click', function() {
															// Remove border from all cards
															addressCards.forEach(c => c.style.border = '1px solid #9f9f9f');
															
															// Add border to the clicked card
															this.style.border = '3px solid black';
											
															// Check the corresponding radio button
															const index = this.getAttribute('data-index');
															const radioButton = document.getElementById(`address_select${index}`);
															radioButton.checked = true;
														});
													});
												});
											</script>																							
									<% }else{ %>
										<p class="text-danger">Cart is empty</p><br>
										<a href="/shop" class="btn btn-outline-primary-2" id="addAddress" style="border-radius: 10px; cursor: pointer;"><span>Shop</span><i class="icon-long-arrow-right"></i></a>
									<% } %>

		                		</div><!-- End .col-lg-9 -->
		                		<aside class="col-lg-3">
		                			<div class="summary" style="border-radius: 20px;">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>
												<%let total=0 %>
		                						<% products.forEach((product)=>{ %>
													<% total += product.quantity*product.productId.price %>
													<tr>
														<td><a href="#"><%=product.productId.name%></a></td>
														<td>₹<%=product.productId.price%></td>
													</tr>
												<%})%>
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>₹<%=total%></td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Shipping:</td>
		                							<td>Free shipping</td>
		                						</tr>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td>₹<%=total%></td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->
										
										<p id="errorMessage" class="text-danger"></p>																		
										<div class="mb-3">
											<div class="d-flex align-items-center">
												<input type="radio" name="paymentMethod" id="cod" value="cash">
												<label for="cod" class="ml-3" style="margin-top: 1px;">Cash On Delivery</label>
											</div>
											<div class="d-flex align-items-center">
												<input type="radio" name="paymentMethod" id="op" value="online">
												<label for="op" class="ml-3" style="margin-top: 1px;">Online Payment</label>
											</div>
										</div>
		                				<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block" style="border-radius: 10px;">
		                					<span class="btn-text">Place Order</span>
		                					<span class="btn-hover-text">Place Order</span>
		                				</button>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="about.html">About Molla</a></li>
	            					<li><a href="#">How to shop on Molla</a></li>
	            					<li><a href="#">FAQ</a></li>
	            					<li><a href="contact.html">Contact us</a></li>
	            					<li><a href="login.html">Log in</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Payment Methods</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">Terms and conditions</a></li>
	            					<li><a href="#">Privacy Policy</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Sign In</a></li>
	            					<li><a href="cart.html">View Cart</a></li>
	            					<li><a href="#">My Wishlist</a></li>
	            					<li><a href="#">Track My Order</a></li>
	            					<li><a href="#">Help</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <%- include('../layouts/mobileView.ejs') %>

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->
	
<%- include('../layouts/footer.ejs') %>

<!-- <script>
	
		var options = {
    "key": "[YOUR_KEY_ID]", // Enter the Key ID generated from the Dashboard
    "amount": "1000",
    "currency": "INR",
    "description": "Acme Corp",
    "image": "example.com/image/rzp.jpg",
    "prefill":
    {
      "email": "gaurav.kumar@example.com",
      "contact": +919900000000,
    },
    config: {
      display: {
        blocks: {
          utib: { //name for Axis block
            name: "Pay using Axis Bank",
            instruments: [
              {
                method: "card",
                issuers: ["UTIB"]
              },
              {
                method: "netbanking",
                banks: ["UTIB"]
              },
            ]
          },
          other: { //  name for other block
            name: "Other Payment modes",
            instruments: [
              {
                method: "card",
                issuers: ["ICIC"]
              },
              {
                method: 'netbanking',
              }
            ]
          }
        },
        hide: [
          {
          method: "upi"
          }
        ],
        sequence: ["block.utib", "block.other"],
        preferences: {
          show_default_blocks: false // Should Checkout show its default blocks?
        }
      }
    },
    "handler": function (response) {
      alert(response.razorpay_payment_id);
    },
    "modal": {
      "ondismiss": function () {
        if (confirm("Are you sure, you want to close the form?")) {
          txt = "You pressed OK!";
          console.log("Checkout form closed by the user");
        } else {
          txt = "You pressed Cancel!";
          console.log("Complete the Payment")
        }
      }
    }
  };
  var rzp1 = new Razorpay(options);
  document.getElementById('rzp-button1').onclick = function (e) {
	rzp1.open();
    e.preventDefault();
  }
</script> -->

<script>
        document.getElementById('form').addEventListener('submit', function(event) {
            event.preventDefault();
            const selectedPaymentMethod = document.querySelector('input[name="paymentMethod"]:checked');
            const selectedAddress = document.querySelector('input[name="selected_address"]:checked');
            const selectedValue = selectedPaymentMethod ? selectedPaymentMethod.value : null;
			console.log(selectedValue,selectedAddress.value);

            if (!selectedValue) {
                document.getElementById('errorMessage').innerText = 'Please select a payment method.';

            } else {
				const data ={
					selected_address: selectedAddress,
					paymentMethod: selectedPaymentMethod
				}
                document.getElementById('errorMessage').innerText = '';
				axios.post('/placeOrder',data)
				.then(response=>{
					console.log(response.order)
				})
				.catch(error => {
            	console.log(error);
            	Swal.fire({
                	position: 'top-end',
                	icon: 'error',
                	title: 'An error occurred',
                	showConfirmButton: false,
                	timer: 1500
            	});
        });
            }
        });
    </script>